<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" /> -->
    <title>图片分享Demo</title>
  </head>
  <body>
  	
	
		<% if (photoDict){ %>
		<div>
		  <div> 图片id : <%= photoDict['objectId'] %> </div>
		  
		  <div> 图片拥有者 : <%= photoDict['user']['nickname'] %> </div>
		  <div> 
		  	<img src=<%= photoDict['originalURL'] %> width=photoDict['width'] height=<%= photoDict['height'] %>  alt=<%= photoDict['originalURL'] %> />
		  </div>
		</div>
		<div>
		  <div> 赞数 : <%= photoDict['faviconsCount'] %> </div>
		  <div> 评论列表 : </div>
		  	<%  photoDict['faviconUsers'].forEach(function (user){ %>
		
		 	 <div> <%= user['nickname'] %> </div>
		
			<% }) %>
		</div>
		<div>
		  <div> 评论数 : <%= photoDict['commentsCount'] %> </div>
		  <div> 评论列表 : </div>
		  	<%  photoDict['comments'].forEach(function (comment){ %>
		
		 		<div>评论内容 : <%= comment['content']['text'] %> </div>
				<div>评论时间 : <%= comment['createdAt'] %> </div>
				<div>评论人 : <%= comment['user']['nickname'] %> </div>

			<% }) %>
	</div>
		<% } %>
	  
  </body>
</html>

