<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" /> -->
    <title>图片分享Demo</title>
  </head>
  <body>
  	<div><%= photoDict %></div>
	<table class='table table-bordered'>
		<% if (photoDict){ %>
		  <td> <%= photoDict.get('comments') %> </td>
		  <td> <%= photoDict.get('commentsCount') %> </td>
		  <td> <%= photoDict.get('faviconUsers') %> </td>
		  <td> <%= photoDict.get('faviconsCount') %> </td>
		  <td> <%= photoDict.get('user') %> </td>
		  <td> <%= photoDict.get('width') %> </td>
		  <td> <%= photoDict.get('height') %> </td>
		  <td> <%= photoDict.get('objectId') %> </td>
		  <td> <%= photoDict.get('originalURL') %> </td>
		  <td> <%= photoDict.get('thumbnailURL') %> </td>
		<% } %>
	  </table>
  </body>
</html>
