<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" /> -->
    <title>图片分享Demo</title>
  </head>
  <body>
  	<div><%= photoDict %></div>
	<table class='table table-bordered'>
		<% if (photoDict){ %>

		  <td> 图片id : <%= photoDict.objectId %> </td>
		  <!-- <td> 图片拥有者 : <%= photoDict.get('user').get('nickname') %> </td>
		  <td> 
		  	<img src=<%= photoDict.get('originalURL') %> width=photoDict.get('width') height=<%= photoDict.get('height') %>  alt=<%= photoDict.get('originalURL') %> />
		  </td>
		  
		  <td> 评论数 : <%= photoDict.get('commentsCount') %> </td>


		  <td>  <%  photoDict.get('comments').forEach(function (comment){ %> </td>
		  <% }) %>
		  <td> 赞数 : <%= photoDict.get('faviconsCount') %> </td>
		  <td> <%= photoDict.get('faviconUsers') %> </td> -->

		<% } %>
	  </table>
  </body>
</html>
